root = true

[*.{kt,kts}]
indent_size=4
max_line_length=off
insert_final_newline = true

# be sure to update build.gradle.kts in the root as well,
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_chain-wrapping = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_statement-wrapping = disabled
ktlint_standard_multiline-expression-wrapping= disabled
ktlint_standard_string-template-indent= disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_value-argument-comment = disabled
ktlint_standard_modifier-list-spacing = disabled
ktlint_standard_annotation-spacing = disabled

# Defines the imports layout. The layout can be composed by the following symbols:
# "*" - wildcard. There must be at least one entry of a single wildcard to match all other imports. Matches anything after a specified symbol/import as well.
# "|" - blank line. Supports only single blank lines between imports. No blank line is allowed in the beginning or end of the layout.
# "^" - alias import, e.g. "^android.*" will match all android alias imports, "^" will match all other alias imports.
# import paths - these can be full paths, e.g. "java.util.List.*" as well as wildcard paths, e.g. "kotlin.**"
# Examples (we use ij_kotlin_imports_layout to set an imports layout for both ktlint and IDEA via a single property):
# default IntelliJ IDEA style, same as alphabetical, but with "java", "javax", "kotlin" and alias imports in the end of the imports list
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^

# According to https://kotlinlang.org/docs/reference/coding-conventions.html#names-for-test-methods it is acceptable to write method names
# in natural language. When using natural language, the description tends to be longer. Allow lines containing an identifier between
# backticks to be longer than the maximum line length. (Since 0.41.0)
[**/test/**.kt]
ktlint_ignore_back_ticked_identifier=true
